<form (ngSubmit)="submit()"  class="form" [formGroup]="form">

    <div class="form-group" *ngFor="let c of formConfig">
      <label>{{ c.label }}:</label>
      <input-loader [type]="c.type" [control]="form.get(c.controlName)" [options]="c.options"></input-loader>
      <!-- validate -->
      <div *ngIf="helper.isError(form.get(c.controlName))" class="error-msg">
        {{ helper.getErrorMsg(form.get(c.controlName)) }}
      </div>
      <!-- TODO text-counter -->
      <div *ngIf="c.maxLength" class="text-counter">
        <label>Text counter: {{form.get(c.controlName).value.length}}/{{c.maxLength}}</label>
      </div>
    </div>
  
  
    <div class="form-group">
      <button
              type="submit"
              class="btn btn-success float-right">
        Submit
      </button>
    </div>
  
  </form>